Repository TheMoonDevs/moon-portal-app, changes with the labels that .github/labeler.yml gives for each.
All labels: config, workflow, contract, home, payzone, portal, dependencies, frontend, backend, documentation

.github/labeler.yml:

# --------------- Top level labels ---------------
# Add 'configuration' to any changes within root folder
config:
  - "*"

# --------------- CI Labels ---------------
# Add 'workflow' to any changes within '.github' folder
workflow:
  - .github/*
  - .github/workflows/**/*

# --------------- App level labels ---------------
# Add 'contract' to any changes within 'contract' folder
contract:
  - contract/*

# Add 'home' to any changes within 'home' folder
home:
  - home/**/*

# Add 'payzone' to any changes within 'payzone' folder
payzone:
  - payzone/**/*

# Add 'portal' to any changes within 'portal' folder
portal:
  - portal/**/*

# --------------- Package.json labels ---------------
# Add 'dependencies' to any changes within any 'package.json' file in the repository
dependencies:
  - '**/package.json'
  - '**/package-lock.json'

# --------------- Frontend labels ---------------
# Add 'frontend' to any changes within frontend-related folders in Next.js apps
frontend:
  - 'portal/{app,components,pages,public,styles,utils,worker}/**/*'
  - '!portal/app/api/**/*'
  - 'payzone/{app,components,pages,public,styles,utils}/**/*'
  - '!payzone/app/api/**/*'
  - 'home/{app,components,pages,public,redux,styles,utils}/**/*'
  - '!home/pages/api/**/*'

# --------------- Backend labels ---------------
# Add 'backend' to any changes within backend-related folders in Next.js apps
backend:
  - 'portal/app/api/**/*'
  - 'portal/prisma/**/*'
  - 'payzone/app/api/**/*'
  - 'payzone/prisma/**/*'
  - 'home/app/api/**/*'
  - 'home/pages/api/**/*'
  - 'home/prisma/**/*'
  - '**/middleware.ts'

# --------------- Documentation labels ---------------
# Add 'documentation' to any changes within README files
documentation:
  - '**/README.md'

refactor: improve cache handling and streamline label management
  .github/workflows/preview-deploy.yml
Labels: workflow, frontend

refactor: improve cache handling and streamline label management
  .github/workflows/preview-deploy.yml
Labels: workflow, frontend

refactor: improved error handling and cache management
  .github/workflows/preview-deploy.yml
Labels: workflow, frontend

refactor: improved error handling and cache management
  .github/workflows/preview-deploy.yml
Labels: workflow, frontend

refactor: update CI environment variables and versioning
  portal/.env.vault
Labels: portal, frontend

refactor: update CI environment variables and versioning
  portal/.env.vault
Labels: portal, frontend

refactor: remove continue-on-error flags and adjusting fail-fast strategy
  .github/workflows/preview-deploy.yml
Labels: workflow, frontend

refactor: remove continue-on-error flags and adjusting fail-fast strategy
  .github/workflows/preview-deploy.yml
Labels: workflow, frontend

refactor: simplify cache paths and streamline PM2 process management
  .github/workflows/preview-deploy.yml
Labels: workflow, frontend

refactor: simplify cache paths and streamline PM2 process management
  .github/workflows/preview-deploy.yml
Labels: workflow, frontend

refactor: update CI environment variables and versioning
  portal/.env.vault
Labels: portal, frontend

refactor: update CI environment variables and versioning
  portal/.env.vault
Labels: portal, frontend

refactor: update CI environment variables and versioning
  portal/.env.vault
Labels: portal, frontend

refactor: update CI environment variables and versioning
  portal/.env.vault
Labels: portal, frontend

refactor: update CI environment variables
  portal/.env.vault
Labels: portal, frontend

refactor: update CI environment variables
  portal/.env.vault
Labels: portal, frontend

refactor: update CI environment variables and versions for payzone and portal
  payzone/.env.vault
  portal/.env.vault
Labels: payzone, portal, frontend

refactor: update CI environment variables and versions for payzone and portal
  payzone/.env.vault
  portal/.env.vault
Labels: payzone, portal, frontend

refactor: add .env.vault file copy to preview deploy workflow
  .github/workflows/preview-deploy.yml
Labels: workflow, frontend

refactor: add .env.vault file copy to preview deploy workflow
  .github/workflows/preview-deploy.yml
Labels: workflow, frontend

refactor: streamline label management in preview deploy workflow
  .github/workflows/preview-deploy.yml
Labels: workflow, frontend

refactor: streamline label management in preview deploy workflow
  .github/workflows/preview-deploy.yml
Labels: workflow, frontend

refactor: update build scripts in payzone and portal package.json
  payzone/package.json
  portal/package.json
Labels: payzone, portal, dependencies, frontend

refactor: update build scripts in payzone and portal package.json
  payzone/package.json
  portal/package.json
Labels: payzone, portal, dependencies, frontend

refactor: enhance label management and deployment status handling in preview deploy
  .github/workflows/preview-deploy.yml
Labels: workflow, frontend

refactor: enhance label management and deployment status handling in preview deploy
  .github/workflows/preview-deploy.yml
Labels: workflow, frontend

refactor: improve deployment status handling in preview deploy workflow
  .github/workflows/preview-deploy.yml
Labels: workflow, frontend

refactor: improve deployment status handling in preview deploy workflow
  .github/workflows/preview-deploy.yml
Labels: workflow, frontend

refactor: improve error handling in preview deploy workflow
  .github/workflows/preview-deploy.yml
Labels: workflow, frontend

refactor: improve error handling in preview deploy workflow
  .github/workflows/preview-deploy.yml
Labels: workflow, frontend

refactor: remove redundant deploy status output in preview deploy workflow
  .github/workflows/preview-deploy.yml
Labels: workflow, frontend

refactor: remove redundant deploy status output in preview deploy workflow
  .github/workflows/preview-deploy.yml
Labels: workflow, frontend

refactor: improve error handling in preview deploy workflow
  .github/workflows/preview-deploy.yml
Labels: workflow, frontend

refactor: improve error handling in preview deploy workflow
  .github/workflows/preview-deploy.yml
Labels: workflow, frontend

refactor: fix deployment outcome check in preview deploy workflow
  .github/workflows/preview-deploy.yml
Labels: workflow, frontend

refactor: fix deployment outcome check in preview deploy workflow
  .github/workflows/preview-deploy.yml
Labels: workflow, frontend

refactor: meta data info and added new tags
  home/components/App/MetaInfo.tsx
Labels: home, frontend

refactor: meta data info and added new tags
  home/components/App/MetaInfo.tsx
Labels: home, frontend

refactor: used MetaInfo component directly in page component
  home/pages/_app.tsx
  home/pages/index.tsx
Labels: home, frontend

refactor: used MetaInfo component directly in page component
  home/pages/_app.tsx
  home/pages/index.tsx
Labels: home, frontend
