Repository TheMoonDevs/moon-portal-app, changes with the labels that .github/labeler.yml gives for each.
All labels: config, workflow, contract, home, payzone, portal, dependencies, frontend, backend, documentation

fix: remove quotes from variable assignments in production deployment script
  .github/workflows/prod-deploy.yml
Labels: workflow, frontend

fix: remove quotes from variable assignments in production deployment script
  .github/workflows/prod-deploy.yml
Labels: workflow, frontend

fix: restructuring directory creation and backup handling
  .github/workflows/prod-deploy.yml
Labels: workflow, frontend

fix: restructuring directory creation and backup handling
  .github/workflows/prod-deploy.yml
Labels: workflow, frontend

fix: directory fixes
  .github/workflows/prod-deploy.yml
Labels: workflow, frontend

fix: directory fixes
  .github/workflows/prod-deploy.yml
Labels: workflow, frontend

fix: ensure main directory exists before restoring backup in deployment script
  .github/workflows/prod-deploy.yml
Labels: workflow, frontend

fix: ensure main directory exists before restoring backup in deployment script
  .github/workflows/prod-deploy.yml
Labels: workflow, frontend

fix: update paths in production deployment script to use relative references
  .github/workflows/prod-deploy.yml
Labels: workflow, frontend

fix: update paths in production deployment script to use relative references
  .github/workflows/prod-deploy.yml
Labels: workflow, frontend

fix: clean up whitespace and improve error handling in deployment workflows
  .github/workflows/preview-deploy.yml
  .github/workflows/prod-deploy.yml
Labels: workflow, frontend

fix: clean up whitespace and improve error handling in deployment workflows
  .github/workflows/preview-deploy.yml
  .github/workflows/prod-deploy.yml
Labels: workflow, frontend

feat: add dotenv vault configuration and update .gitignore for new environment files
  payzone/.env.vault
  payzone/.gitignore
  payzone/package.json
Labels: payzone, dependencies, frontend

feat: add dotenv vault configuration and update .gitignore for new environment files
  payzone/.env.vault
  payzone/.gitignore
  payzone/package.json
Labels: payzone, dependencies, frontend

feat: update .gitignore to include new env files and modify package scripts for CI
  portal/.env.vault
  portal/.gitignore
  portal/package-lock.json
  portal/package.json
Labels: portal, dependencies, frontend

feat: update .gitignore to include new env files and modify package scripts for CI
  portal/.env.vault
  portal/.gitignore
  portal/package-lock.json
  portal/package.json
Labels: portal, dependencies, frontend

fix: refactor preview deployment workflow to use project-specific dotenv keys
  .github/workflows/preview-deploy.yml
Labels: workflow, frontend

fix: refactor preview deployment workflow to use project-specific dotenv keys
  .github/workflows/preview-deploy.yml
Labels: workflow, frontend

fix: update build commands in preview deployment workflow for CI compatibility
  .github/workflows/preview-deploy.yml
Labels: workflow, frontend

fix: update build commands in preview deployment workflow for CI compatibility
  .github/workflows/preview-deploy.yml
Labels: workflow, frontend

fix: update start:ci command in package.json to use server.js for CI environments
  payzone/package.json
  payzone/public/sw.js
  portal/package.json
Labels: payzone, portal, dependencies, frontend

fix: update start:ci command in package.json to use server.js for CI environments
  payzone/package.json
  payzone/public/sw.js
  portal/package.json
Labels: payzone, portal, dependencies, frontend

refactor: enhance preview deployment workflow with caching and error handling
  .github/workflows/comment-actions.yml
  .github/workflows/preview-deploy.yml
Labels: workflow, frontend

refactor: enhance preview deployment workflow with caching and error handling
  .github/workflows/comment-actions.yml
  .github/workflows/preview-deploy.yml
Labels: workflow, frontend

fix: improve error handling in preview deployment workflow
  .github/workflows/preview-deploy.yml
Labels: workflow, frontend

fix: improve error handling in preview deployment workflow
  .github/workflows/preview-deploy.yml
Labels: workflow, frontend

refactor: reorganize preview deployment workflow for improved clarity and efficiency
  .github/workflows/preview-deploy.yml
Labels: workflow, frontend

refactor: reorganize preview deployment workflow for improved clarity and efficiency
  .github/workflows/preview-deploy.yml
Labels: workflow, frontend

refactor: streamline initial status comments creation and enhance error handling
  .github/workflows/preview-deploy.yml
Labels: workflow, frontend

refactor: streamline initial status comments creation and enhance error handling
  .github/workflows/preview-deploy.yml
Labels: workflow, frontend

refactor: simplify port range configuration and enhance error handling
  .github/workflows/preview-deploy.yml
Labels: workflow, frontend

refactor: simplify port range configuration and enhance error handling
  .github/workflows/preview-deploy.yml
Labels: workflow, frontend

refactor: add logging for project processing
  .github/workflows/preview-deploy.yml
Labels: workflow, frontend

refactor: add logging for project processing
  .github/workflows/preview-deploy.yml
Labels: workflow, frontend

refactor: update PM2 process management to include port configuration
  .github/workflows/preview-deploy.yml
Labels: workflow, frontend

refactor: update PM2 process management to include port configuration
  .github/workflows/preview-deploy.yml
Labels: workflow, frontend

refactor: enhance preview deployment workflow
  .github/workflows/preview-deploy.yml
Labels: workflow, frontend

refactor: enhance preview deployment workflow
  .github/workflows/preview-deploy.yml
Labels: workflow, frontend

refactor: clean up preview deployment workflow and improve build status handling
  .github/workflows/preview-deploy.yml
Labels: workflow, frontend

refactor: clean up preview deployment workflow and improve build status handling
  .github/workflows/preview-deploy.yml
Labels: workflow, frontend

.github/labeler.yml:

# --------------- Top level labels ---------------
# Add 'configuration' to any changes within root folder
config:
  - "*"

# --------------- CI Labels ---------------
# Add 'workflow' to any changes within '.github' folder
workflow:
  - .github/*
  - .github/workflows/**/*

# --------------- App level labels ---------------
# Add 'contract' to any changes within 'contract' folder
contract:
  - contract/*

# Add 'home' to any changes within 'home' folder
home:
  - home/**/*

# Add 'payzone' to any changes within 'payzone' folder
payzone:
  - payzone/**/*

# Add 'portal' to any changes within 'portal' folder
portal:
  - portal/**/*

# --------------- Package.json labels ---------------
# Add 'dependencies' to any changes within any 'package.json' file in the repository
dependencies:
  - '**/package.json'
  - '**/package-lock.json'

# --------------- Frontend labels ---------------
# Add 'frontend' to any changes within frontend-related folders in Next.js apps
frontend:
  - 'portal/{app,components,pages,public,styles,utils,worker}/**/*'
  - '!portal/app/api/**/*'
  - 'payzone/{app,components,pages,public,styles,utils}/**/*'
  - '!payzone/app/api/**/*'
  - 'home/{app,components,pages,public,redux,styles,utils}/**/*'
  - '!home/pages/api/**/*'

# --------------- Backend labels ---------------
# Add 'backend' to any changes within backend-related folders in Next.js apps
backend:
  - 'portal/app/api/**/*'
  - 'portal/prisma/**/*'
  - 'payzone/app/api/**/*'
  - 'payzone/prisma/**/*'
  - 'home/app/api/**/*'
  - 'home/pages/api/**/*'
  - 'home/prisma/**/*'
  - '**/middleware.ts'

# --------------- Documentation labels ---------------
# Add 'documentation' to any changes within README files
documentation:
  - '**/README.md'
