Repository TheMoonDevs/moon-portal-app, changes with the labels that .github/labeler.yml gives for each.
All labels: config, workflow, contract, home, payzone, portal, dependencies, frontend, backend, documentation

refactor: updated meta info
  home/utils/constants/AppInfo.ts
Labels: home, frontend

refactor: updated meta info
  home/utils/constants/AppInfo.ts
Labels: home, frontend

fix: updated dev url
  home/utils/constants/AppInfo.ts
Labels: home, frontend

fix: updated dev url
  home/utils/constants/AppInfo.ts
Labels: home, frontend

refactor: update production vault configurations in environment files
  payzone/.env.vault
  portal/.env.vault
Labels: payzone, portal, frontend

refactor: update production vault configurations in environment files
  payzone/.env.vault
  portal/.env.vault
Labels: payzone, portal, frontend

refactor: production workflow with caching and error handling improvements
  .github/workflows/prod-deploy.yml
Labels: workflow, frontend

refactor: production workflow with caching and error handling improvements
  .github/workflows/prod-deploy.yml
Labels: workflow, frontend

refactor: update concurrency group naming in workflows for better clarity
  .github/workflows/pr-cleanup.yml
  .github/workflows/preview-deploy.yml
Labels: workflow, frontend

refactor: update concurrency group naming in workflows for better clarity
  .github/workflows/pr-cleanup.yml
  .github/workflows/preview-deploy.yml
Labels: workflow, frontend

.github/labeler.yml:

# --------------- Top level labels ---------------
# Add 'configuration' to any changes within root folder
config:
  - "*"

# --------------- CI Labels ---------------
# Add 'workflow' to any changes within '.github' folder
workflow:
  - .github/*
  - .github/workflows/**/*

# --------------- App level labels ---------------
# Add 'contract' to any changes within 'contract' folder
contract:
  - contract/*

# Add 'home' to any changes within 'home' folder
home:
  - home/**/*

# Add 'payzone' to any changes within 'payzone' folder
payzone:
  - payzone/**/*

# Add 'portal' to any changes within 'portal' folder
portal:
  - portal/**/*

# --------------- Package.json labels ---------------
# Add 'dependencies' to any changes within any 'package.json' file in the repository
dependencies:
  - '**/package.json'
  - '**/package-lock.json'

# --------------- Frontend labels ---------------
# Add 'frontend' to any changes within frontend-related folders in Next.js apps
frontend:
  - 'portal/{app,components,pages,public,styles,utils,worker}/**/*'
  - '!portal/app/api/**/*'
  - 'payzone/{app,components,pages,public,styles,utils}/**/*'
  - '!payzone/app/api/**/*'
  - 'home/{app,components,pages,public,redux,styles,utils}/**/*'
  - '!home/pages/api/**/*'

# --------------- Backend labels ---------------
# Add 'backend' to any changes within backend-related folders in Next.js apps
backend:
  - 'portal/app/api/**/*'
  - 'portal/prisma/**/*'
  - 'payzone/app/api/**/*'
  - 'payzone/prisma/**/*'
  - 'home/app/api/**/*'
  - 'home/pages/api/**/*'
  - 'home/prisma/**/*'
  - '**/middleware.ts'

# --------------- Documentation labels ---------------
# Add 'documentation' to any changes within README files
documentation:
  - '**/README.md'
